@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe:regular);
@import url(https://fonts.googleapis.com/css?family=Monoton:regular);

.header{
padding: 10px;
text-align: center;
color: #6fcb9f;
font-family: ;
}

.linkedIn{
    padding: 10px;
}

.gitHub{
    padding: 10px;
}

.sectionOne{
    background-color: #fb2e01;
}

.image{
    text-align: center;
    padding: 50px;
  
}

body{
    margin: 0px;
    background-color: #fffeb3;
}

.contact{
    text-align: center;
    padding: 20px;
    color: transparent;
    font-family: Monoton;
    font-size: 40px;
    color: white;
    text-shadow: black 2px 4px; 
}

.About{
    font-family: Monoton;
    padding: 400px;
    text-align: center;
    font-size: 50px;
}

.Skills{
    font-family: Monoton;
    padding: 400px;
    text-align: center;
    background-color:#6fcb9f;
    font-size: 50px;
}

.Projects{
    font-family: Monoton;
    padding: 400px;
    text-align: center;
    background-color: #fffeb3;
    font-size: 50px;
}

.WorkExperience{
    font-family: Monoton;
    padding: 400px;
    text-align: center;
    background-color:#6fcb9f;
    font-size: 50px;
}

.Education{
    font-family: Monoton;
    padding: 400px;
    text-align: center;
    background-color: #fffeb3;
    font-size: 50px;
}